################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HassanMunawer.github.io/FileContentIndex/2af80c20-297e-4bcd-8afd-67bc11d0417f.vsidx
